In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import jaccard_score

In [2]:
df=pd.read_csv('../datasets/ChurnData.csv')

In [3]:
df = df[['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip',   'callcard', 'wireless','churn']]

In [4]:
df['churn']=df['churn'].astype('int')

In [5]:
df.head()

,tenure,age,address,income,ed,employ,equip,callcard,wireless,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,1
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,1
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,0

In [6]:
y=df['churn'].values
x=df[df.columns[:-1]].values

In [ ]:
# x=preprocessing.StandardScaler().fit(x).transform(x)

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.2)

In [ ]:
regressor=LogisticRegression(C=0.01,solver='liblinear')

In [ ]:
regressor.fit(x_train,y_train)

In [ ]:
y_pred=regressor.predict(x_test)
y_pred

In [ ]:
test=[[23,30,9,30,1,2,0,0,0]]
test1=[[11,33,7,136,5,5,0,1,1]]

In [ ]:
# test=preprocessing.StandardScaler().fit(test).transform(test)
# test1=preprocessing.StandardScaler().fit(test1).transform(test1)

In [ ]:
regressor.predict(test)

In [ ]:
regressor.predict(test1)

In [ ]:
jaccard_score(y_test,y_pred)