In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('datasets/FuelConsumptionCo2.csv')

In [3]:
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [4]:
df=df[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY','FUELCONSUMPTION_COMB','CO2EMISSIONS']]

In [5]:
df.head()

,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,CO2EMISSIONS
0,2.0,4,9.9,6.7,8.5,196
1,2.4,4,11.2,7.7,9.6,221
2,1.5,4,6.0,5.8,5.9,136
3,3.5,6,12.7,9.1,11.1,255
4,3.5,6,12.1,8.7,10.6,244

In [6]:
df.columns

Index(['ENGINESIZE', 'CYLINDERS', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'CO2EMISSIONS'],
      dtype='object')

In [7]:
x=df[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_COMB']].values

In [8]:
y=df['CO2EMISSIONS'].values

In [9]:
x

array([[ 2. ,  4. ,  8.5],
       [ 2.4,  4. ,  9.6],
       [ 1.5,  4. ,  5.9],
       ...,
       [ 3. ,  6. , 11.8],
       [ 3.2,  6. , 11.3],
       [ 3.2,  6. , 12.8]])

In [10]:
y

array([196, 221, 136, ..., 271, 260, 294], dtype=int64)

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
scaler = MinMaxScaler(feature_range=(0, 1))
model = scaler.fit(x)

In [13]:
x=model.transform(x)

In [14]:
from sklearn.svm import SVR

In [15]:
from sklearn.model_selection import KFold

### Method1 - Long method for Cross Validation:

In [16]:
scores = []
best_svr = SVR(kernel='rbf')
cv = KFold(n_splits=10, shuffle=False)
for train_index, test_index in cv.split(x):
#     print("Train Index: ", train_index, "\n")
#     print("Test Index: ", test_index)

    X_train, X_test, y_train, y_test = x[train_index], x[test_index], y[train_index], y[test_index]
    best_svr.fit(X_train, y_train)
    scores.append(best_svr.score(X_test, y_test))

In [17]:
import numpy as np

In [18]:
scores

[0.7051387032154596,
 0.8531680444404787,
 0.6828477854286616,
 0.7673246283531874,
 0.7674432252060293,
 0.8242809126051012,
 0.8881395896317128,
 0.8844640777954932,
 0.7067127321639188,
 0.8621714889974965]

#### We can see how much the accuracy score varies for different folds as the testing data.
#### Highest accuracy is : 0.88 and lowest is: 0.68

### Finally we take the mean of all the scores:

In [19]:
np.mean(scores)

0.794169118783754

### Method2: Short way of doing Cross Validation:

In [21]:
from sklearn.model_selection import cross_val_score

In [22]:
scores1=cross_val_score(best_svr,X_train,y_train,cv=10)

In [23]:
scores1

array([0.68711875, 0.85131213, 0.73936212, 0.70645383, 0.71327409,
       0.82931967, 0.82024104, 0.84810915, 0.87431596, 0.65332359])

In [24]:
np.mean(scores1)

0.7722830328954112